In [48]:
import pandas as pd
import numpy as np

Desaf√≠o 1: üìö  Carga de Datos

Carga los tres CSV de Pok√©mon en diferentes DataFrames. Inspecciona los primeros registros, comprueba las dimensiones de los DataFrames y los tipos de datos de las columnas.

In [49]:
df_attri = pd.read_csv("pokemon_attributes.csv")
df_stats = pd.read_csv("pokemon_stats.csv")
df_type = pd.read_csv("pokemon_type.csv")

In [50]:
print(df_attri.shape, "\n")
print(df_attri.dtypes, "\n")
print(df_attri.info(), "\n")
df_attri.info()

(1015, 9)

Unnamed: 0              int64
name                   object
ndex                  float64
pokemon_species        object
pokemon_weight_kg     float64
pokemon_height_m      float64
pokemon_male          float64
pokemon_female         object
pokemon_weight_grs    float64
dtype: object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1015 entries, 0 to 1014
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1015 non-null   int64
 1   name                1015 non-null   object
 2   ndex                1010 non-null   float64
 3   pokemon_species     1015 non-null   object
 4   pokemon_weight_kg   909 non-null    float64
 5   pokemon_height_m    1003 non-null   float64
 6   pokemon_male        862 non-null    float64
 7   pokemon_female      863 non-null    object
 8   pokemon_weight_grs  910 non-null    float64
dtypes: float64(5), int64(1), object(3)
memory usage: 71.5+ KB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1015 entries, 0 to 1014
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1015 non-null   int64
 1   name                1015 non-null   object
 2   ndex                1010 non-null   float64
 3   pokemon_species     1015 non-null   object
 4   pokemon_weight_kg   909 non-null    float64
 5   pokemon_height_m    1003 non-null   float64
 6   pokemon_male        862 non-null    float64
 7   pokemon_female      863 non-null    object
 8   pokemon_weight_grs  910 non-null    float64
dtypes: float64(5), int64(1), object(3)
memory usage: 71.5+ KB

In [51]:
df_attri.head(-500)

,Unnamed: 0,name,ndex,pokemon_species,pokemon_weight_kg,pokemon_height_m,pokemon_male,pokemon_female,pokemon_weight_grs
0,0,Fezandipiti,NaN,unknown,NaN,NaN,NaN,NaN,NaN
1,1,Staryu,120.0,Star Shape Pok√©mon,34.5,0.80,NaN,NaN,34500.0
2,2,Squirtle,7.0,Tiny Turtle Pok√©mon,9.0,0.50,87.5,12.5,9000.0
3,3,Snorlax,143.0,Sleeping Pok√©mon,460.0,2.11,87.5,12.5,460000.0
4,4,Seadra,117.0,Dragon Pok√©mon,25.0,1.20,50.0,50,25000.0
...,...,...,...,...,...,...,...,...,...
510,510,Crawdaunt,342.0,Rogue Pok√©mon,32.8,1.10,50.0,50,32800.0
511,511,Anorith,347.0,Old Shrimp Pok√©mon,12.5,0.70,87.5,12.5,12500.0
512,512,Altaria,334.0,Humming Pok√©mon,20.6,1.10,50.0,50,20600.0
513,513,Aggron,306.0,Iron Armor Pok√©mon,360.0,2.10,50.0,50,360000.0
514,514,Abomasnow,460.0,Frost Tree Pok√©mon,135.5,2.20,50.0,50,135500.0

In [52]:
df_attri.tail()

,Unnamed: 0,name,ndex,pokemon_species,pokemon_weight_kg,pokemon_height_m,pokemon_male,pokemon_female,pokemon_weight_grs
1010,1010,Toedscruel,949.0,Woodear Pok√©mon,58.0,1.9,50.0,50,58000.0
1011,1011,Wo-Chien,1001.0,Ruinous Pok√©mon,74.2,1.5,NaN,NaN,74200.0
1012,1012,Toedscool,948.0,Woodear Pok√©mon,33.0,0.9,50.0,50,33000.0
1013,1013,Wugtrio,961.0,Garden Eel Pok√©mon,5.4,1.2,50.0,50,5400.0
1014,1014,Terapagos,NaN,unknown,NaN,NaN,NaN,NaN,NaN

In [53]:
print(df_stats.shape, "\n")
print(df_stats.dtypes, "\n")
print(df_stats.info(), "\n")
df_stats.head()

(1194, 10)

podedex_index     int64
name             object
form             object
total             int64
hp                int64
attack            int64
defense           int64
sp_atk            int64
sp_def            int64
speed             int64
dtype: object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1194 entries, 0 to 1193
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   podedex_index  1194 non-null   int64
 1   name           1194 non-null   object
 2   form           1194 non-null   object
 3   total          1194 non-null   int64
 4   hp             1194 non-null   int64
 5   attack         1194 non-null   int64
 6   defense        1194 non-null   int64
 7   sp_atk         1194 non-null   int64
 8   sp_def         1194 non-null   int64
 9   speed          1194 non-null   int64
dtypes: int64(8), object(2)
memory usage: 93.4+ KB
None

,podedex_index,name,form,total,hp,attack,defense,sp_atk,sp_def,speed
0,3,Venusaur,Mega Venusaur,625,80,100,123,122,120,80
1,6,Charizard,Mega Charizard X,634,78,130,111,130,85,100
2,6,Charizard,Mega Charizard Y,634,78,104,78,159,115,100
3,9,Blastoise,Mega Blastoise,630,79,103,120,135,115,78
4,15,Beedrill,Mega Beedrill,495,65,150,40,15,80,145

In [54]:
df_stats.tail()

,podedex_index,name,form,total,hp,attack,defense,sp_atk,sp_def,speed
1189,1006,Iron Valiant,default,590,74,130,90,120,60,116
1190,1007,Koraidon,default,670,100,135,115,85,100,135
1191,1008,Miraidon,default,670,100,85,100,135,115,135
1192,1009,Walking Wake,default,590,99,83,91,125,83,109
1193,1010,Iron Leaves,default,590,90,130,88,70,108,104

In [55]:
df_stats.drop_duplicates()

,podedex_index,name,form,total,hp,attack,defense,sp_atk,sp_def,speed
0,3,Venusaur,Mega Venusaur,625,80,100,123,122,120,80
1,6,Charizard,Mega Charizard X,634,78,130,111,130,85,100
2,6,Charizard,Mega Charizard Y,634,78,104,78,159,115,100
3,9,Blastoise,Mega Blastoise,630,79,103,120,135,115,78
4,15,Beedrill,Mega Beedrill,495,65,150,40,15,80,145
...,...,...,...,...,...,...,...,...,...,...
1189,1006,Iron Valiant,default,590,74,130,90,120,60,116
1190,1007,Koraidon,default,670,100,135,115,85,100,135
1191,1008,Miraidon,default,670,100,85,100,135,115,135
1192,1009,Walking Wake,default,590,99,83,91,125,83,109
1193,1010,Iron Leaves,default,590,90,130,88,70,108,104

In [56]:
print(df_type.shape, "\n")
print(df_type.dtypes, "\n")
print(df_type.info(), "\n")
df_type.head()

(1015, 4)

name       object
ndex      float64
tipo_1     object
tipo_2     object
dtype: object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1015 entries, 0 to 1014
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    1015 non-null   object
 1   ndex    1010 non-null   float64
 2   tipo_1  1015 non-null   object
 3   tipo_2  765 non-null    object
dtypes: float64(1), object(3)
memory usage: 31.8+ KB
None

      name   ndex  tipo_1 tipo_2
0  Seaking  119.0   water    bug
1  Grovyle  253.0   grass    bug
2  Armaldo  348.0    rock    bug
3  Anorith  347.0    rock    bug
4  Skorupi  451.0  poison    bug

In [57]:
df_type.tail()

           name   ndex   tipo_1 tipo_2
1010   Cetoddle  974.0      ice    NaN
1011   Capsakid  951.0    grass    NaN
1012    Cetitan  975.0      ice    NaN
1013    Wugtrio  961.0    water    NaN
1014  Terapagos    NaN  unknown    NaN

In [58]:
df_stats['name'].value_counts().head(20)

name
Rotom           6
Tauros          4
Deoxys          4
Darmanitan      4
Pumpkaboo       4
Gourgeist       4
Oricorio        4
Necrozma        4
Squawkabilly    4
Castform        4
Slowbro         3
Lycanroc        3
Burmy           3
Calyrex         3
Wormadam        3
Kyurem          3
Meowth          3
Tatsugiri       3
Zygarde         3
Basculin        3
Name: count, dtype: int64

Desaf√≠o 2: üßπ  Limpieza de Datos

* Une los tres DataFrames en un solo DataFrame, utilizando el c√≥digo de Pok√©mon como clave.
* Comprueba si existen registros duplicados y, si los hay, eliminalos.
* Unifica las columnas de peso (Kg y Gr) en una sola de Kg.
* Comprueba si existen valores faltantes y decide c√≥mo manejarlos. Ten en cuenta que podr√≠as necesitar diferentes estrategias para diferentes columnas.

In [59]:
df_attri=df_attri.drop_duplicates()
df_attri

,Unnamed: 0,name,ndex,pokemon_species,pokemon_weight_kg,pokemon_height_m,pokemon_male,pokemon_female,pokemon_weight_grs
0,0,Fezandipiti,NaN,unknown,NaN,NaN,NaN,NaN,NaN
1,1,Staryu,120.0,Star Shape Pok√©mon,34.5,0.80,NaN,NaN,34500.0
2,2,Squirtle,7.0,Tiny Turtle Pok√©mon,9.0,0.50,87.5,12.5,9000.0
3,3,Snorlax,143.0,Sleeping Pok√©mon,460.0,2.11,87.5,12.5,460000.0
4,4,Seadra,117.0,Dragon Pok√©mon,25.0,1.20,50.0,50,25000.0
...,...,...,...,...,...,...,...,...,...
1010,1010,Toedscruel,949.0,Woodear Pok√©mon,58.0,1.90,50.0,50,58000.0
1011,1011,Wo-Chien,1001.0,Ruinous Pok√©mon,74.2,1.50,NaN,NaN,74200.0
1012,1012,Toedscool,948.0,Woodear Pok√©mon,33.0,0.90,50.0,50,33000.0
1013,1013,Wugtrio,961.0,Garden Eel Pok√©mon,5.4,1.20,50.0,50,5400.0
1014,1014,Terapagos,NaN,unknown,NaN,NaN,NaN,NaN,NaN

In [60]:
df_stats=df_stats.drop_duplicates()
df_stats

,podedex_index,name,form,total,hp,attack,defense,sp_atk,sp_def,speed
0,3,Venusaur,Mega Venusaur,625,80,100,123,122,120,80
1,6,Charizard,Mega Charizard X,634,78,130,111,130,85,100
2,6,Charizard,Mega Charizard Y,634,78,104,78,159,115,100
3,9,Blastoise,Mega Blastoise,630,79,103,120,135,115,78
4,15,Beedrill,Mega Beedrill,495,65,150,40,15,80,145
...,...,...,...,...,...,...,...,...,...,...
1189,1006,Iron Valiant,default,590,74,130,90,120,60,116
1190,1007,Koraidon,default,670,100,135,115,85,100,135
1191,1008,Miraidon,default,670,100,85,100,135,115,135
1192,1009,Walking Wake,default,590,99,83,91,125,83,109
1193,1010,Iron Leaves,default,590,90,130,88,70,108,104

In [61]:
df = pd.merge(df_attri, df_type[['name','tipo_1','tipo_2']], on='name')
#df = pd.merge(df_attri, df_type, on='name')
df

,Unnamed: 0,name,ndex,pokemon_species,pokemon_weight_kg,pokemon_height_m,pokemon_male,pokemon_female,pokemon_weight_grs,tipo_1,tipo_2
0,0,Fezandipiti,NaN,unknown,NaN,NaN,NaN,NaN,NaN,unknown,NaN
1,1,Staryu,120.0,Star Shape Pok√©mon,34.5,0.80,NaN,NaN,34500.0,water,NaN
2,2,Squirtle,7.0,Tiny Turtle Pok√©mon,9.0,0.50,87.5,12.5,9000.0,water,NaN
3,3,Snorlax,143.0,Sleeping Pok√©mon,460.0,2.11,87.5,12.5,460000.0,normal,NaN
4,4,Seadra,117.0,Dragon Pok√©mon,25.0,1.20,50.0,50,25000.0,water,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1010,1010,Toedscruel,949.0,Woodear Pok√©mon,58.0,1.90,50.0,50,58000.0,ground,grass
1011,1011,Wo-Chien,1001.0,Ruinous Pok√©mon,74.2,1.50,NaN,NaN,74200.0,dark,grass
1012,1012,Toedscool,948.0,Woodear Pok√©mon,33.0,0.90,50.0,50,33000.0,ground,grass
1013,1013,Wugtrio,961.0,Garden Eel Pok√©mon,5.4,1.20,50.0,50,5400.0,water,NaN
1014,1014,Terapagos,NaN,unknown,NaN,NaN,NaN,NaN,NaN,unknown,NaN

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1015 entries, 0 to 1014
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1015 non-null   int64
 1   name                1015 non-null   object
 2   ndex                1010 non-null   float64
 3   pokemon_species     1015 non-null   object
 4   pokemon_weight_kg   909 non-null    float64
 5   pokemon_height_m    1003 non-null   float64
 6   pokemon_male        862 non-null    float64
 7   pokemon_female      863 non-null    object
 8   pokemon_weight_grs  910 non-null    float64
 9   tipo_1              1015 non-null   object
 10  tipo_2              765 non-null    object
dtypes: float64(5), int64(1), object(5)
memory usage: 87.4+ KB

In [63]:
df_stats.columns

Index(['podedex_index', 'name', 'form', 'total', 'hp', 'attack', 'defense',
       'sp_atk', 'sp_def', 'speed'],
      dtype='object')

In [64]:
df = pd.merge(df, df_stats[['podedex_index', 'form', 'total', 'hp', 'attack', 'defense',
       'sp_atk', 'sp_def', 'speed']], left_on='Unnamed: 0', right_on='podedex_index')

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1194 entries, 0 to 1193
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1194 non-null   int64
 1   name                1194 non-null   object
 2   ndex                1188 non-null   float64
 3   pokemon_species     1194 non-null   object
 4   pokemon_weight_kg   1077 non-null   float64
 5   pokemon_height_m    1181 non-null   float64
 6   pokemon_male        1012 non-null   float64
 7   pokemon_female      1013 non-null   object
 8   pokemon_weight_grs  1070 non-null   float64
 9   tipo_1              1194 non-null   object
 10  tipo_2              882 non-null    object
 11  podedex_index       1194 non-null   int64
 12  form                1194 non-null   object
 13  total               1194 non-null   int64
 14  hp                  1194 non-null   int64
 15  attack              1194 non-null   int64
 16  defense             1194 non-null   int64
 17  sp_atk              1194 non-null   int64
 18  sp_def              1194 non-null   int64
 19  speed               1194 non-null   int64
dtypes: float64(5), int64(9), object(6)
memory usage: 186.7+ KB

In [66]:
df_stats.columns

Index(['podedex_index', 'name', 'form', 'total', 'hp', 'attack', 'defense',
       'sp_atk', 'sp_def', 'speed'],
      dtype='object')

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1194 entries, 0 to 1193
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1194 non-null   int64
 1   name                1194 non-null   object
 2   ndex                1188 non-null   float64
 3   pokemon_species     1194 non-null   object
 4   pokemon_weight_kg   1077 non-null   float64
 5   pokemon_height_m    1181 non-null   float64
 6   pokemon_male        1012 non-null   float64
 7   pokemon_female      1013 non-null   object
 8   pokemon_weight_grs  1070 non-null   float64
 9   tipo_1              1194 non-null   object
 10  tipo_2              882 non-null    object
 11  podedex_index       1194 non-null   int64
 12  form                1194 non-null   object
 13  total               1194 non-null   int64
 14  hp                  1194 non-null   int64
 15  attack              1194 non-null   int64
 16  defense             1194 non-null   int64
 17  sp_atk              1194 non-null   int64
 18  sp_def              1194 non-null   int64
 19  speed               1194 non-null   int64
dtypes: float64(5), int64(9), object(6)
memory usage: 186.7+ KB

In [68]:
df['name'].value_counts()

name
Lunatone      6
Marill        4
Uxie          4
Ducklett      4
Durant        4
             ..
Natu          1
Ledyba        1
Ledian        1
Larvitar      1
Toedscruel    1
Name: count, Length: 1010, dtype: int64

In [69]:
df[df['name']=='Lunatone']

,Unnamed: 0,name,ndex,pokemon_species,pokemon_weight_kg,pokemon_height_m,pokemon_male,pokemon_female,pokemon_weight_grs,tipo_1,tipo_2,podedex_index,form,total,hp,attack,defense,sp_atk,sp_def,speed
582,479,Lunatone,337.0,Meteorite Pok√©mon,168.0,1.0,NaN,NaN,168000.0,rock,psychic,479,Heat Rotom,520,50,65,107,105,107,86
583,479,Lunatone,337.0,Meteorite Pok√©mon,168.0,1.0,NaN,NaN,168000.0,rock,psychic,479,Wash Rotom,520,50,65,107,105,107,86
584,479,Lunatone,337.0,Meteorite Pok√©mon,168.0,1.0,NaN,NaN,168000.0,rock,psychic,479,Frost Rotom,520,50,65,107,105,107,86
585,479,Lunatone,337.0,Meteorite Pok√©mon,168.0,1.0,NaN,NaN,168000.0,rock,psychic,479,Fan Rotom,520,50,65,107,105,107,86
586,479,Lunatone,337.0,Meteorite Pok√©mon,168.0,1.0,NaN,NaN,168000.0,rock,psychic,479,Mow Rotom,520,50,65,107,105,107,86
587,479,Lunatone,337.0,Meteorite Pok√©mon,168.0,1.0,NaN,NaN,168000.0,rock,psychic,479,default,440,50,50,77,95,77,91

In [70]:
df.columns

Index(['Unnamed: 0', 'name', 'ndex', 'pokemon_species', 'pokemon_weight_kg',
       'pokemon_height_m', 'pokemon_male', 'pokemon_female',
       'pokemon_weight_grs', 'tipo_1', 'tipo_2', 'podedex_index', 'form',
       'total', 'hp', 'attack', 'defense', 'sp_atk', 'sp_def', 'speed'],
      dtype='object')

In [71]:
df['podedex_index'].nunique()

1010

In [72]:
df.drop_duplicates()

,Unnamed: 0,name,ndex,pokemon_species,pokemon_weight_kg,pokemon_height_m,pokemon_male,pokemon_female,pokemon_weight_grs,tipo_1,tipo_2,podedex_index,form,total,hp,attack,defense,sp_atk,sp_def,speed
0,1,Staryu,120.0,Star Shape Pok√©mon,34.5,0.80,NaN,NaN,34500.0,water,NaN,1,default,318,45,49,49,65,65,45
1,2,Squirtle,7.0,Tiny Turtle Pok√©mon,9.0,0.50,87.5,12.5,9000.0,water,NaN,2,default,405,60,62,63,80,80,60
2,3,Snorlax,143.0,Sleeping Pok√©mon,460.0,2.11,87.5,12.5,460000.0,normal,NaN,3,Mega Venusaur,625,80,100,123,122,120,80
3,3,Snorlax,143.0,Sleeping Pok√©mon,460.0,2.11,87.5,12.5,460000.0,normal,NaN,3,default,525,80,82,83,100,100,80
4,4,Seadra,117.0,Dragon Pok√©mon,25.0,1.20,50.0,50,25000.0,water,NaN,4,default,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189,1006,Arctibax,997.0,Ice Fin Pok√©mon,30.0,0.80,50.0,50,NaN,dragon,ice,1006,default,590,74,130,90,120,60,116
1190,1007,Annihilape,979.0,Rage Monkey Pok√©mon,56.0,1.20,50.0,50,NaN,fighting,ghost,1007,default,670,100,135,115,85,100,135
1191,1008,Wattrel,940.0,Storm Petrel Pok√©mon,3.6,0.40,50.0,50,3600.0,electric,flying,1008,default,670,100,85,100,135,115,135
1192,1009,Varoom,965.0,Single-Cyl Pok√©mon,35.0,1.00,50.0,50,35000.0,steel,poison,1009,default,590,99,83,91,125,83,109
1193,1010,Toedscruel,949.0,Woodear Pok√©mon,58.0,1.90,50.0,50,58000.0,ground,grass,1010,default,590,90,130,88,70,108,104

In [73]:
df['pokemon_weight_kg']*1000==df['pokemon_weight_grs']

0        True
1        True
2        True
3        True
4        True
        ...
1189    False
1190    False
1191     True
1192     True
1193     True
Length: 1194, dtype: bool

In [74]:
df[df['pokemon_weight_kg']*1000!=df['pokemon_weight_grs']][['pokemon_weight_kg','pokemon_weight_grs']]

      pokemon_weight_kg  pokemon_weight_grs
16                  NaN             19500.0
17                 70.3                 NaN
20                  NaN              6500.0
36                  NaN             33300.0
37                  NaN             33300.0
...                 ...                 ...
1175                NaN            240000.0
1180               30.7                 NaN
1185              700.0                 NaN
1189               30.0                 NaN
1190               56.0                 NaN

[215 rows x 2 columns]

In [75]:
df['pokemon_weight_kg'].isna()

0       False
1       False
2       False
3       False
4       False
        ...
1189    False
1190    False
1191    False
1192    False
1193    False
Name: pokemon_weight_kg, Length: 1194, dtype: bool

In [76]:
df[df['pokemon_weight_kg'].isna() & df['pokemon_weight_grs'].isna()].head()

,Unnamed: 0,name,ndex,pokemon_species,pokemon_weight_kg,pokemon_height_m,pokemon_male,pokemon_female,pokemon_weight_grs,tipo_1,tipo_2,podedex_index,form,total,hp,attack,defense,sp_atk,sp_def,speed
101,77,Plusle,311.0,Cheering Pok√©mon,NaN,0.4,50.0,50,NaN,electric,NaN,77,Galarian Ponyta,410,50,85,55,65,65,90
102,77,Plusle,311.0,Cheering Pok√©mon,NaN,0.4,50.0,50,NaN,electric,NaN,77,default,410,50,85,55,65,65,90
163,123,Sawk,539.0,Karate Pok√©mon,NaN,1.4,100.0,0,NaN,fighting,NaN,123,default,500,70,110,80,55,80,105
253,198,Chansey,113.0,Egg Pok√©mon,NaN,1.1,0.0,100,NaN,normal,NaN,198,default,405,60,85,42,85,42,91
268,211,Okidogi,NaN,unknown,NaN,NaN,NaN,NaN,NaN,unknown,NaN,211,Hisuian Qwilfish,440,65,95,85,55,55,85

In [77]:
df[(df['pokemon_weight_kg'].notna()) & (df['pokemon_weight_grs'].notna()) & (df['pokemon_weight_kg']*1000!=df['pokemon_weight_grs'])]

,Unnamed: 0,name,ndex,pokemon_species,pokemon_weight_kg,pokemon_height_m,pokemon_male,pokemon_female,pokemon_weight_grs,tipo_1,tipo_2,podedex_index,form,total,hp,attack,defense,sp_atk,sp_def,speed
954,796,Blacephalon,806.0,Fireworks Pok√©mon,130.2,1.8,NaN,NaN,130200.0,fire,ghost,796,default,570,83,89,71,173,71,83

In [78]:
k=df.loc[954]['pokemon_weight_kg']

In [79]:
g=df.loc[954]['pokemon_weight_grs']

In [80]:
k*1000==g

False

In [81]:
print(1000*k,g)

130199.99999999999 130200.0

In [82]:
df[df['pokemon_weight_kg'].isna() & df['pokemon_weight_grs'].notna()]

,Unnamed: 0,name,ndex,pokemon_species,pokemon_weight_kg,pokemon_height_m,pokemon_male,pokemon_female,pokemon_weight_grs,tipo_1,tipo_2,podedex_index,form,total,hp,attack,defense,sp_atk,sp_def,speed
16,13,Machop,66.0,Superpower Pok√©mon,NaN,0.8,75.0,25,19500.0,fighting,NaN,13,default,195,40,35,30,20,20,50
20,16,Krabby,98.0,River Crab Pok√©mon,NaN,0.4,50.0,50,6500.0,water,NaN,16,default,251,40,45,40,35,35,56
36,27,Dugtrio,51.0,Mole Pok√©mon,NaN,0.7,50.0,50,33300.0,ground,NaN,27,Alolan Sandshrew,300,50,75,90,10,35,40
37,27,Dugtrio,51.0,Mole Pok√©mon,NaN,0.7,50.0,50,33300.0,ground,NaN,27,default,300,50,75,85,20,30,40
46,35,Blissey,242.0,Happiness Pok√©mon,NaN,1.5,0.0,100,46800.0,normal,NaN,35,default,323,70,45,48,60,65,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1121,943,Slither Wing,988.0,Paradox Pok√©mon,NaN,3.2,NaN,NaN,92000.0,bug,fighting,943,default,505,80,120,90,60,70,85
1124,946,Skeledirge,911.0,Singer Pok√©mon,NaN,1.6,87.5,12.5,326500.0,fire,ghost,946,default,275,40,65,30,45,35,60
1126,948,Scovillain,952.0,Spicy Pepper Pok√©mon,NaN,0.9,50.0,50,15000.0,grass,fire,948,default,335,40,40,35,50,100,70
1133,955,Pawmo,922.0,Mouse Pok√©mon,NaN,0.4,50.0,50,6490.0,electric,fighting,955,default,255,30,35,30,55,30,75
1175,993,Garganacl,934.0,Rock Salt Pok√©mon,NaN,2.3,50.0,50,240000.0,rock,NaN,993,default,570,94,80,86,122,80,108

In [83]:
df['pokemon_weight_kg']=df[df['pokemon_weight_kg'].isna() & df['pokemon_weight_grs'].notna()]['pokemon_weight_grs']/1000

In [84]:
df

,Unnamed: 0,name,ndex,pokemon_species,pokemon_weight_kg,pokemon_height_m,pokemon_male,pokemon_female,pokemon_weight_grs,tipo_1,tipo_2,podedex_index,form,total,hp,attack,defense,sp_atk,sp_def,speed
0,1,Staryu,120.0,Star Shape Pok√©mon,NaN,0.80,NaN,NaN,34500.0,water,NaN,1,default,318,45,49,49,65,65,45
1,2,Squirtle,7.0,Tiny Turtle Pok√©mon,NaN,0.50,87.5,12.5,9000.0,water,NaN,2,default,405,60,62,63,80,80,60
2,3,Snorlax,143.0,Sleeping Pok√©mon,NaN,2.11,87.5,12.5,460000.0,normal,NaN,3,Mega Venusaur,625,80,100,123,122,120,80
3,3,Snorlax,143.0,Sleeping Pok√©mon,NaN,2.11,87.5,12.5,460000.0,normal,NaN,3,default,525,80,82,83,100,100,80
4,4,Seadra,117.0,Dragon Pok√©mon,NaN,1.20,50.0,50,25000.0,water,NaN,4,default,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189,1006,Arctibax,997.0,Ice Fin Pok√©mon,NaN,0.80,50.0,50,NaN,dragon,ice,1006,default,590,74,130,90,120,60,116
1190,1007,Annihilape,979.0,Rage Monkey Pok√©mon,NaN,1.20,50.0,50,NaN,fighting,ghost,1007,default,670,100,135,115,85,100,135
1191,1008,Wattrel,940.0,Storm Petrel Pok√©mon,NaN,0.40,50.0,50,3600.0,electric,flying,1008,default,670,100,85,100,135,115,135
1192,1009,Varoom,965.0,Single-Cyl Pok√©mon,NaN,1.00,50.0,50,35000.0,steel,poison,1009,default,590,99,83,91,125,83,109
1193,1010,Toedscruel,949.0,Woodear Pok√©mon,NaN,1.90,50.0,50,58000.0,ground,grass,1010,default,590,90,130,88,70,108,104

In [85]:
#por lo visto no se puede poner el campo a calcular dentro del filtro
#df['pokemon_weight_kg']=df[df['pokemon_weight_kg'].isna() & df['pokemon_weight_grs'].notna()]['pokemon_weight_grs']/1000
#df['pokemon_weight_kg']=df[df['pokemon_weight_kg'].isna()]['pokemon_weight_grs']/1000
df

,Unnamed: 0,name,ndex,pokemon_species,pokemon_weight_kg,pokemon_height_m,pokemon_male,pokemon_female,pokemon_weight_grs,tipo_1,tipo_2,podedex_index,form,total,hp,attack,defense,sp_atk,sp_def,speed
0,1,Staryu,120.0,Star Shape Pok√©mon,NaN,0.80,NaN,NaN,34500.0,water,NaN,1,default,318,45,49,49,65,65,45
1,2,Squirtle,7.0,Tiny Turtle Pok√©mon,NaN,0.50,87.5,12.5,9000.0,water,NaN,2,default,405,60,62,63,80,80,60
2,3,Snorlax,143.0,Sleeping Pok√©mon,NaN,2.11,87.5,12.5,460000.0,normal,NaN,3,Mega Venusaur,625,80,100,123,122,120,80
3,3,Snorlax,143.0,Sleeping Pok√©mon,NaN,2.11,87.5,12.5,460000.0,normal,NaN,3,default,525,80,82,83,100,100,80
4,4,Seadra,117.0,Dragon Pok√©mon,NaN,1.20,50.0,50,25000.0,water,NaN,4,default,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189,1006,Arctibax,997.0,Ice Fin Pok√©mon,NaN,0.80,50.0,50,NaN,dragon,ice,1006,default,590,74,130,90,120,60,116
1190,1007,Annihilape,979.0,Rage Monkey Pok√©mon,NaN,1.20,50.0,50,NaN,fighting,ghost,1007,default,670,100,135,115,85,100,135
1191,1008,Wattrel,940.0,Storm Petrel Pok√©mon,NaN,0.40,50.0,50,3600.0,electric,flying,1008,default,670,100,85,100,135,115,135
1192,1009,Varoom,965.0,Single-Cyl Pok√©mon,NaN,1.00,50.0,50,35000.0,steel,poison,1009,default,590,99,83,91,125,83,109
1193,1010,Toedscruel,949.0,Woodear Pok√©mon,NaN,1.90,50.0,50,58000.0,ground,grass,1010,default,590,90,130,88,70,108,104

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1194 entries, 0 to 1193
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1194 non-null   int64
 1   name                1194 non-null   object
 2   ndex                1188 non-null   float64
 3   pokemon_species     1194 non-null   object
 4   pokemon_weight_kg   90 non-null     float64
 5   pokemon_height_m    1181 non-null   float64
 6   pokemon_male        1012 non-null   float64
 7   pokemon_female      1013 non-null   object
 8   pokemon_weight_grs  1070 non-null   float64
 9   tipo_1              1194 non-null   object
 10  tipo_2              882 non-null    object
 11  podedex_index       1194 non-null   int64
 12  form                1194 non-null   object
 13  total               1194 non-null   int64
 14  hp                  1194 non-null   int64
 15  attack              1194 non-null   int64
 16  defense             1194 non-null   int64
 17  sp_atk              1194 non-null   int64
 18  sp_def              1194 non-null   int64
 19  speed               1194 non-null   int64
dtypes: float64(5), int64(9), object(6)
memory usage: 186.7+ KB

In [39]:
df[df['pokemon_weight_kg'].isna() & df['pokemon_weight_grs'].notna()]

,Unnamed: 0,name,ndex,pokemon_species,pokemon_weight_kg,pokemon_height_m,pokemon_male,pokemon_female,pokemon_weight_grs,tipo_1,tipo_2,podedex_index,form,total,hp,attack,defense,sp_atk,sp_def,speed
16,13,Machop,66.0,Superpower Pok√©mon,NaN,0.8,75.0,25,19500.0,fighting,NaN,13,default,195,40,35,30,20,20,50
20,16,Krabby,98.0,River Crab Pok√©mon,NaN,0.4,50.0,50,6500.0,water,NaN,16,default,251,40,45,40,35,35,56
36,27,Dugtrio,51.0,Mole Pok√©mon,NaN,0.7,50.0,50,33300.0,ground,NaN,27,Alolan Sandshrew,300,50,75,90,10,35,40
37,27,Dugtrio,51.0,Mole Pok√©mon,NaN,0.7,50.0,50,33300.0,ground,NaN,27,default,300,50,75,85,20,30,40
46,35,Blissey,242.0,Happiness Pok√©mon,NaN,1.5,0.0,100,46800.0,normal,NaN,35,default,323,70,45,48,60,65,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1121,943,Slither Wing,988.0,Paradox Pok√©mon,NaN,3.2,NaN,NaN,92000.0,bug,fighting,943,default,505,80,120,90,60,70,85
1124,946,Skeledirge,911.0,Singer Pok√©mon,NaN,1.6,87.5,12.5,326500.0,fire,ghost,946,default,275,40,65,30,45,35,60
1126,948,Scovillain,952.0,Spicy Pepper Pok√©mon,NaN,0.9,50.0,50,15000.0,grass,fire,948,default,335,40,40,35,50,100,70
1133,955,Pawmo,922.0,Mouse Pok√©mon,NaN,0.4,50.0,50,6490.0,electric,fighting,955,default,255,30,35,30,55,30,75
1175,993,Garganacl,934.0,Rock Salt Pok√©mon,NaN,2.3,50.0,50,240000.0,rock,NaN,993,default,570,94,80,86,122,80,108

In [87]:
df['pokemon_weight_kg']=df['pokemon_weight_kg'].fillna(df['pokemon_weight_grs']/1000)

In [88]:
df

,Unnamed: 0,name,ndex,pokemon_species,pokemon_weight_kg,pokemon_height_m,pokemon_male,pokemon_female,pokemon_weight_grs,tipo_1,tipo_2,podedex_index,form,total,hp,attack,defense,sp_atk,sp_def,speed
0,1,Staryu,120.0,Star Shape Pok√©mon,34.5,0.80,NaN,NaN,34500.0,water,NaN,1,default,318,45,49,49,65,65,45
1,2,Squirtle,7.0,Tiny Turtle Pok√©mon,9.0,0.50,87.5,12.5,9000.0,water,NaN,2,default,405,60,62,63,80,80,60
2,3,Snorlax,143.0,Sleeping Pok√©mon,460.0,2.11,87.5,12.5,460000.0,normal,NaN,3,Mega Venusaur,625,80,100,123,122,120,80
3,3,Snorlax,143.0,Sleeping Pok√©mon,460.0,2.11,87.5,12.5,460000.0,normal,NaN,3,default,525,80,82,83,100,100,80
4,4,Seadra,117.0,Dragon Pok√©mon,25.0,1.20,50.0,50,25000.0,water,NaN,4,default,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189,1006,Arctibax,997.0,Ice Fin Pok√©mon,NaN,0.80,50.0,50,NaN,dragon,ice,1006,default,590,74,130,90,120,60,116
1190,1007,Annihilape,979.0,Rage Monkey Pok√©mon,NaN,1.20,50.0,50,NaN,fighting,ghost,1007,default,670,100,135,115,85,100,135
1191,1008,Wattrel,940.0,Storm Petrel Pok√©mon,3.6,0.40,50.0,50,3600.0,electric,flying,1008,default,670,100,85,100,135,115,135
1192,1009,Varoom,965.0,Single-Cyl Pok√©mon,35.0,1.00,50.0,50,35000.0,steel,poison,1009,default,590,99,83,91,125,83,109
1193,1010,Toedscruel,949.0,Woodear Pok√©mon,58.0,1.90,50.0,50,58000.0,ground,grass,1010,default,590,90,130,88,70,108,104

In [91]:
df[df['pokemon_weight_kg'].isna()]

<class 'pandas.core.frame.DataFrame'>
Index: 124 entries, 17 to 1190
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          124 non-null    int64
 1   name                124 non-null    object
 2   ndex                118 non-null    float64
 3   pokemon_species     124 non-null    object
 4   pokemon_weight_kg   0 non-null      float64
 5   pokemon_height_m    115 non-null    float64
 6   pokemon_male        108 non-null    float64
 7   pokemon_female      108 non-null    object
 8   pokemon_weight_grs  0 non-null      float64
 9   tipo_1              124 non-null    object
 10  tipo_2              90 non-null     object
 11  podedex_index       124 non-null    int64
 12  form                124 non-null    object
 13  total               124 non-null    int64
 14  hp                  124 non-null    int64
 15  attack              124 non-null    int64
 16  defense             124 non-null    int64
 17  sp_atk              124 non-null    int64
 18  sp_def              124 non-null    int64
 19  speed               124 non-null    int64
dtypes: float64(5), int64(9), object(6)
memory usage: 20.3+ KB

In [90]:
df[df['pokemon_weight_grs'].isna()]

,Unnamed: 0,name,ndex,pokemon_species,pokemon_weight_kg,pokemon_height_m,pokemon_male,pokemon_female,pokemon_weight_grs,tipo_1,tipo_2,podedex_index,form,total,hp,attack,defense,sp_atk,sp_def,speed
17,14,Machoke,67.0,Superpower Pok√©mon,NaN,1.5,75.0,25,NaN,fighting,NaN,14,default,205,45,25,50,25,25,35
76,58,Chimecho,358.0,Wind Chime Pok√©mon,NaN,0.6,50.0,50,NaN,psychic,NaN,58,Hisuian Growlithe,350,60,75,45,65,50,55
77,58,Chimecho,358.0,Wind Chime Pok√©mon,NaN,0.6,50.0,50,NaN,psychic,NaN,58,default,350,55,70,45,70,50,60
87,66,Treecko,252.0,Wood Gecko Pok√©mon,NaN,0.5,87.5,12.5,NaN,grass,NaN,66,default,305,70,80,50,35,35,35
97,75,Skitty,300.0,Kitten Pok√©mon,NaN,0.6,25.0,75,NaN,normal,NaN,75,Alolan Graveler,390,55,95,115,45,45,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1172,990,Ceruledge,937.0,Fire Blades Pok√©mon,NaN,1.6,50.0,50,NaN,fire,ghost,990,default,570,90,112,120,72,70,106
1180,998,Crocalor,910.0,Fire Croc Pok√©mon,NaN,1.0,87.5,12.5,NaN,fire,NaN,998,default,600,115,145,92,75,86,87
1185,1002,Cetitan,975.0,Terra Whale Pok√©mon,NaN,4.5,50.0,50,NaN,ice,NaN,1002,default,570,80,120,80,90,65,135
1189,1006,Arctibax,997.0,Ice Fin Pok√©mon,NaN,0.8,50.0,50,NaN,dragon,ice,1006,default,590,74,130,90,120,60,116
1190,1007,Annihilape,979.0,Rage Monkey Pok√©mon,NaN,1.2,50.0,50,NaN,fighting,ghost,1007,default,670,100,135,115,85,100,135

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1194 entries, 0 to 1193
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1194 non-null   int64
 1   name                1194 non-null   object
 2   ndex                1188 non-null   float64
 3   pokemon_species     1194 non-null   object
 4   pokemon_weight_kg   1070 non-null   float64
 5   pokemon_height_m    1181 non-null   float64
 6   pokemon_male        1012 non-null   float64
 7   pokemon_female      1013 non-null   object
 8   pokemon_weight_grs  1070 non-null   float64
 9   tipo_1              1194 non-null   object
 10  tipo_2              882 non-null    object
 11  podedex_index       1194 non-null   int64
 12  form                1194 non-null   object
 13  total               1194 non-null   int64
 14  hp                  1194 non-null   int64
 15  attack              1194 non-null   int64
 16  defense             1194 non-null   int64
 17  sp_atk              1194 non-null   int64
 18  sp_def              1194 non-null   int64
 19  speed               1194 non-null   int64
dtypes: float64(5), int64(9), object(6)
memory usage: 186.7+ KB

In [37]:
df.iloc[100:200]

,Unnamed: 0,name,ndex,pokemon_species,pokemon_weight_kg,pokemon_height_m,pokemon_male,pokemon_female,pokemon_weight_grs,tipo_1,tipo_2,podedex_index,form,total,hp,attack,defense,sp_atk,sp_def,speed
100,76,Sceptile,254.0,Forest Pok√©mon,NaN,1.7,87.5,12.5,52200.0,grass,NaN,76,default,495,80,120,130,55,65,45
101,77,Plusle,311.0,Cheering Pok√©mon,NaN,0.4,50.0,50,NaN,electric,NaN,77,Galarian Ponyta,410,50,85,55,65,65,90
102,77,Plusle,311.0,Cheering Pok√©mon,NaN,0.4,50.0,50,NaN,electric,NaN,77,default,410,50,85,55,65,65,90
103,78,Nosepass,299.0,Compass Pok√©mon,97.0,1.0,50.0,50,97000.0,rock,NaN,78,Galarian Rapidash,500,65,100,70,80,80,105
104,78,Nosepass,299.0,Compass Pok√©mon,97.0,1.0,50.0,50,97000.0,rock,NaN,78,default,500,65,100,70,80,80,105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,146,Sylveon,700.0,Intertwining Pok√©mon,23.5,1.0,87.5,12.5,23500.0,fairy,NaN,146,Galarian Moltres,580,90,85,90,100,125,90
196,146,Sylveon,700.0,Intertwining Pok√©mon,23.5,1.0,87.5,12.5,23500.0,fairy,NaN,146,default,580,90,100,90,125,85,90
197,147,Quilladin,651.0,Spiny Armor Pok√©mon,29.0,0.7,87.5,12.5,29000.0,grass,NaN,147,default,300,41,64,45,50,50,50
198,148,Furfrou,676.0,Poodle Pokemon,28.0,1.2,50.0,50,28000.0,normal,NaN,148,default,420,61,84,65,70,70,70
199,149,Florges,671.0,Garden Pok√©mon,10.0,1.1,0.0,100,NaN,fairy,NaN,149,default,600,91,134,95,100,100,80

Desaf√≠o 3: üîç  An√°lisis Exploratorio de Datos

Calcula estad√≠sticas descriptivas para las columnas num√©ricas (media, mediana, desviaci√≥n est√°ndar, valor m√≠nimo, valor m√°ximo).
Descubre cu√°ntos valores √∫nicos hay en las columnas categ√≥ricas.
Determina cu√°ntos valores faltantes existen en cada columna.